<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MSIAfterburnerDataServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MSI_Afterburner_Data_Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MSIAfterburnerDataServer.Properties.Settings>
      <setting name="displayLoggerServerNotifications" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="displayLoggerNotifications" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="logsFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="appDataPath" serializeAs="String">
        <value />
      </setting>
      <setting name="loggerDataPath" serializeAs="String">
        <value />
      </setting>
      <setting name="loggerSamplesPath" serializeAs="String">
        <value />
      </setting>
      <setting name="loggerOutputPath" serializeAs="String">
        <value />
      </setting>
      <setting name="appPath" serializeAs="String">
        <value />
      </setting>
      <setting name="userLoggerOutputPath" serializeAs="String">
        <value />
      </setting>
      <setting name="logFileName" serializeAs="String">
        <value>Nameless_Log</value>
      </setting>
      <setting name="lastLoggerFormatterFile" serializeAs="String">
        <value />
      </setting>
      <setting name="loadLastLoggerFormatterFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="loggerStartHotKey" serializeAs="String">
        <value />
      </setting>
      <setting name="lastSerialServerFormatterFile" serializeAs="String">
        <value />
      </setting>
      <setting name="loadLastSerialServerFormatterFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="autostartSerialServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="displaySerialServerNotifications" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="serialServerPortBlacklist" serializeAs="String">
        <value />
      </setting>
      <setting name="serialServerLastPort" serializeAs="String">
        <value />
      </setting>
      <setting name="autostartLoggerServer" serializeAs="String">
        <value>False</value>
      </setting>
    </MSIAfterburnerDataServer.Properties.Settings>
    <MSI_Afterburner_Data_Server.Properties.Settings>
      <setting name="autostartLoggerServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="displayLoggerServerNotifications" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="displayLoggerNotifications" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="logsFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="appDataPath" serializeAs="String">
        <value />
      </setting>
      <setting name="loggerDataPath" serializeAs="String">
        <value />
      </setting>
      <setting name="loggerSamplesPath" serializeAs="String">
        <value />
      </setting>
      <setting name="loggerOutputPath" serializeAs="String">
        <value />
      </setting>
      <setting name="appPath" serializeAs="String">
        <value />
      </setting>
    </MSI_Afterburner_Data_Server.Properties.Settings>
  </userSettings>
</configuration>